a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

//Project Page CSS
.project-image-fit {
  max-width:100%;
  max-height:100%;
}

.project-card {
  text-align:center;
}
